<a href="https://colab.research.google.com/github/Vaishnavi02wankar/python/blob/main/DatatypePythonCourse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#data types in python

a=10
b=20.36
x=10+9j
num=89>67
print(type(a))
print(type(b))
print(type(x))
print(type(num))
print(num)
print(x)

In [ ]:
#string data types unicode char values
# fetching value from start 1 2 3 4
# fetching value from end -4 -3 -2 -1

x="python"
a=input()
print('hello',x,a)
print(a[2])

In [ ]:
a="python"
print(a.upper())
x=a.replace('n','u')
print(x)

In [ ]:
#lists mutable(changeable) , unordered , duplicate value acceptable

list=[10,20,30,40,'abcd']
print(list)
print(list[2:4])
print(list[2])
list[-1]

In [ ]:
list=[10,11,12,13,14]
list[2]=55
print(list)
list.append(66)
print(list)
list.insert(4,77)
print(list)
list.reverse()
print(list)
list.sort()
print(list)
list[4]

In [ ]:
#tuple immutable , with () , without ()

t1=(10,20,'a')
t2=100,200,300
print(type(t1))
print(type(t2))
t1[0:2]
t1[-1]

In [ ]:
del t1     # tuple deleted
print(t1)

In [ ]:
t1=(1,2,3,4,5)
t1
t1*2     #repeating tuple 2 times
print(t1*2)

t2=('hello','world')
t1+t2     #concate two tuple
print(t1+t2)

print(2 in t1)

In [ ]:
for i in t1:
  print(i)

max(t1)
print('max',max(t1))
min(t1)
print('min',min(t1))

In [ ]:
s='hello'
tuple(s)

In [53]:
#Dictionary  key-values , key=access / value=mutable

In [ ]:
dict={1:"sunny", 2:"bunny", 3:"money"}
print(dict)
print(dict[2])

print(dict.get(1))
dict.get(3)

dict[4]="honey"
print(dict)

dict.pop(3)
print(dict)

dict.keys()
print(dict)

dict.values()
print(dict)

dict.clear()
print(dict)

In [73]:
# set collection of unordered elements, mutable ,  unindexed,

In [87]:
s={1, 2.4,'abc'}
print(s)

print(len(s))

for x in s:
  print(x)

s.add('xyz')
print(s)

s.update([24,10,60])
print(s)

s.remove('abc')
print(s)

s.clear()
print(s)

{1, 2.4, 'abc'}
3
1
2.4
abc
{1, 2.4, 'xyz', 'abc'}
{1, 2.4, 10, 'abc', 24, 60, 'xyz'}
{1, 2.4, 10, 24, 60, 'xyz'}
set()